/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color;
  min-height: $spacing-unit * 3;
  padding-top: 20px;

  // Positioning context for the mobile navigation icon
  //position: relative;
  text-align: center;
  
}

.site-title {
  @include relative-font-size(2.5);
  font-weight: bolder;
  // font-style: italic;
  font-family: monospace;
  line-height: $base-line-height * $base-font-size * 3.5;
  //letter-spacing: -1px;
  margin-bottom: 0;
  font-size: 50px;
  border-bottom: 1px solid $grey-color;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}


// THIS IS WHERE TO EDIT THE INDIVIDUAL CATEGORY PROPERTIES

.site-nav {
  @include relative-font-size(1.25);
  //float: right;
  text-align: center;
  line-height: $base-line-height * $base-font-size * 3.5;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-family: monospace;
    font-weight: bold;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    border-bottom: 1px solid $grey-color;
    border-left: 1px solid $grey-color;
    border-right: 1px solid $grey-color;
    border-top: 1px solid $grey-color;
    border-radius: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color;
  padding: $spacing-unit 0;
  font-family: monospace;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  // color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
  margin-left: -50px;
  margin-right: 50px;
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
  margin-top: -75px;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;

  // create a gradient for a specific post
  // background: linear-gradient(
  //   to right,
  //   blue 33.33%, white 33.33%,
  //   white 66.66%, red 66.66%);
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  font-family: monospace;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1.625);
  letter-spacing: -1px;
  line-height: 1;
  font-family: monospace;
  text-decoration: underline;
  //font-weight: bold;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-family: monospace;
  font-size: 13pt;
  padding-left: 100px;
  padding-right: 100px;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.featured-image-post {
  width: 50%;
  height: 50%;
}

.blog-roll-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  float: left;
}


.post-image {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 25px;
}




// this is for Will's about picture
.Will {
  text-align: center;
  font-size: 14pt;
  height: 300px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 20px;
  // filter: grayscale(100%);
  float: left;

  font-size: 18pt;
  font-style: italic;
  font-family: monospace;
}

// this is for the guest author's about picture
.author-pic {
  text-align: center;
  font-size: 14pt;
  height: 300px;
  border-radius: 50%;
  //margin-top: 10px;
  //margin-bottom: 35px;
  margin-left: 25px;
  margin-right: 20px;
  // filter: grayscale(100%);
  float: left;

  font-size: 18pt;
  font-style: italic;
  font-family: monospace;
}

// this is for the tag section as a whole (i.e. spacing)
.Tags {
  margin-top: 10px;
  margin-bottom: 50px;
  border-top: lightgray;
  border-width: 1px;
  border-top-style: solid;

  // &:link { color: black;}
  // &:visited { color: black;}
  // &:hover { color: black;}
}
// these are for the individual tags
.tags {
  font-size: 12pt;
  // font-style: italic;
  background-color: $background-color;
}

.about-text{
  margin-top: 100px;
  font-family: monospace;
}

.post-heading{
  font-family: monospace;
  font-weight: bold;
}

.tag-page{
  font-family: monospace;
}
