---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <!-- This is for the about section, where we format pictures of ourselves and a breif description of the website -->
  {%- if page.image_Will -%}

    <div class="Will">
      <img src="{{- page.image_Will | relative_url -}}" alt ="" class="Will">
      <p>William Bidle</p>
    </div>

  {%- endif -%}



  {%- if page.image_Ilana -%}
    <div class="Ilana">
      <img src="{{- page.image_Ilana | relative_url -}}" alt ="" class="Ilana">
      <p>Ilana Zane</p>
    </div>
  {%- endif -%}
  <!-- ----------------------------------------------------------------------------------------------------------- -->

  <div class="post-content">
    {{ content }}
  </div>

  {%- assign feedType = page.feed-type -%}
  {%- if feedType == "album-review" or feedType == "guest-review" or feedType == "artist-spotlight" -%}
    <div class="post-heading">
      <h2>Featured Post</h2>
    </div>
    {%- assign displayOffset = 0 -%}
    {%- assign displayLimit = 1 -%}
    {%- assign sectionName = "featured-post" -%}
    {% include feed.html  %}
  {%-  endif -%}

  {%- assign feedType = page.feed-type -%}
  {%- if feedType == "album-review" or feedType == "guest-review" or feedType == "artist-spotlight" -%}
    <div class="post-heading">
      <h2>Posts</h2>
    </div>
    {%- assign displayOffset = 1 -%}
    {%- assign displayLimit = null -%}
    {%- assign sectionName = "feed" -%}
    {% include feed.html  %}
  {%-  endif -%}

</article>
